body {
  background-color: #d4af37;
  display: flex;
  justify-content: center;
  width: 100%;
}

.App {
  text-align: center;
  display: inline;
  width: auto;
}


header {
  background-color: #d4af37 ;
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 1rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  top: 0;
}

.navbar--links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.navbar a {
  float: left;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1.4rem;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 5rem;
}

.homepage, .about, .cart .menu {
  padding-top: 2rem;
}

.menuelement {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 300rem;
}

.menuelement--name {
  font-size: 1.2rem;
}
.menuelement--price {
  font-size: 1rem;
}

.icon:hover {
  cursor: pointer;
}

.cartelement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  
}