body {
  background-color: #d4af37;
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.App {
  text-align: center;
  min-width: 750px;
  max-width: 750px;
}

.navbar {
  display: flex ;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  margin-top: 1rem;
}

.navbar--links {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.navbar a {
  float: left;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1.4rem;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: auto;
}

.homepage, .about, .cart .menu {
  padding-top: 2rem;
}

.homepage--type {
  font-family: 'Antonio', sans-serif;;
  font-size: 5rem;
  font-weight: 700;
  background: -webkit-linear-gradient(#aa1005 40%, #ac7a1e 50%, #aa1005 100% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homepage--name {
  font-family: "Antonio", sans-serif;
  font-size: 6rem;
  color: #aa1005;
  font-weight: bolder;
}

.homepage--service {
  font-family: "Antonio", sans-serif;
  font-size: 5.5rem;
  color: #aa1005;
  font-weight: bolder;
}

.menuelement {
  display: flex;
  align-items: center;
  max-width: 300rem;
  height: 1.7rem;
}

.menuelement--allergens {
  margin-left: 1rem;
  font-size: 0.6rem;
}

.menuelement--allergens:hover {
  font-size: 1.4rem;
}

.menuelement--name {
  font-size: 1.2rem;
}
.menuelement--price {
  font-size: 1rem;
  margin-right: 0;
  margin-left: auto;
}

.menuelement--icon {
  margin-right: 0;
  margin-left: 1rem;
}

.icon:hover, .menuelement--icon:hover, button:hover {
  cursor: pointer;
}

/* CartElements */

.cartelement {
  display: inline-grid;
  grid-template-columns: 1fr 2rem 2rem 6rem 1rem;
  font-size: 1.2rem;
  align-items: center;
  width: 40rem;
  margin:0 5rem 0 5rem ;
}

.cartelement--name {
  text-align: left;
}

.cartelement--price {
  margin-left: auto;
}

.cartelement--remove {
  margin-left: 1rem;
}

.showAllergens {
  display: flex;
  justify-content: center;
}

.buttonElement {
  font-size: 32px;
  margin-left: 2rem;
  border: none;
  border-radius: 16px;
  background-color: #d4af37;
}