body {
  background-color: #d4af37;
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.App {
  text-align: center;
  min-width: 750px;
  max-width: 750px;
}

.navbar {
  display: flex ;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  margin-top: 1rem;
}

.navbar--links {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.navbar a {
  float: left;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1.4rem;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: auto;
}

.homepage, .about, .cart .menu {
  padding-top: 2rem;
}

.menuelement {
  display: flex;
  align-items: center;
  max-width: 300rem;
  height: 1.7rem;
}

.menuelement--allergens {
  margin-left: 1rem;
  font-size: 0.6rem;
}

.menuelement--allergens:hover {
  font-size: 1.4rem;
}

.menuelement--name {
  font-size: 1.2rem;
}
.menuelement--price {
  font-size: 1rem;
  margin-right: 0;
  margin-left: auto;
}

.menuelement--icon {
  margin-right: 0;
  margin-left: 1rem;
}

.icon:hover, .menuelement--icon:hover, button:hover {
  cursor: pointer;
}

/* CartElements */

.cartelement {
  display: inline-grid;
  grid-template-columns: 1fr 2rem 2rem 6rem 1rem;
  font-size: 1.2rem;
  align-items: center;
  width: 40rem;
  margin:0 5rem 0 5rem ;
}

.cartelement--name {
  text-align: left;
}

.cartelement--price {
  margin-left: auto;
}

.cartelement--remove {
  margin-left: 1rem;
}

button {
  font-weight: 600;
  border-radius: 8px;
  border: none;
  height: 1.4rem;
  margin: 10px 5px 10px 5px;
  padding: 4px;
}

